
{% block body %}

	{% for restaurant_id, restaurant in restaurant_dic.items %}
		<p> 
			Name: {{restaurant.name}} </br>
			Address: {{restaurant.location.address1}} {{restaurant.location.city}}, {{restaurant.location.state}} {{restaurant.location.zip_code}} </br>
			Phone: {{restaurant.display_phone}} </br>
			Price: {{restaurant.price}} </br>
			Rating: {{restaurant.rating}} </br>
			<a href={{restaurant.url}}> Click here to go to yelp page for {{name}}</a> </br>
			{% for photo in restaurant.photos %}
				<img src= {{photo}} alt="Restaurant photo" width="300" height="300"></img>
			{% endfor %}
		</p>
	{% endfor %}
	<!--
		
	-->

{% endblock %}