{% block body %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Restaurant Homepage</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="{% static "app/home_style.css" %}" rel="stylesheet" type="text/css"/>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-expand-md navbar-light bg-faded fixed-top">
		<a class="navbar-brand" href="/">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		  <ul class="navbar-nav mr-auto">
		  </ul>
		  <!-- Logout function redirects to homepage -->
		  <form method="post" action="{% url 'account_logout' %}">
			  {% csrf_token %}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			  {% endif %}
		 	  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Log Out</button>
		   </form>
		</div>
	</nav>

<main role="main" class="container">
	<!-- Project name -->
  <div class="my-container">
    <h1>What should I eat?</h1>
  </div>

	<!-- Search form (term, city, button) -->
	<form class="container-form" action="info/" method="post" id="needs-validation" novalidate> {% csrf_token %}
		<div class="form-row">
			<div class="col-6">
				<input class="form-control" type="text" id="term_validation" name="term" placeholder="Find burgers, dessert, breakfast..." value="{{source.term}}" required>
				<div class="invalid-feedback">
					Please provide a valid search term
				</div>
			</div>
			<div class="col-4">
				<input class="form-control" type="text" id="city_validation" name="location" placeholder="City" value="{{source.location}}" required>
				<div class="invalid-feedback">
					Please provide a valid city
				</div>
			</div>
			<div class="col">
				<button type="submit" class="btn btn-danger">Submit</button>
			</div>
		</div>
		<!-- Filter by -->
		<input type='button' id='filter-button' class="btn btn-link" value='Filter by...'>
			<div id="container-filter" style="display: none">
			  <form action="" method="post" name="myForm">
			  	<h>Price:</h>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group1[]" value="$">$
				    </label>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group1[]" value="$$">$$
				    </label>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group1[]" value="$$$">$$$
				    </label>
				     <label class="checkbox-inline">
				      <input type="checkbox" name="group1[]" value="$$$$">$$$$
			    </label>
			    &nbsp
			    <h>Rating:</h>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group2[]" value="1">1.0+
				    </label>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group2[]" value="2">2.0+
				    </label>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group2[]" value="3">3.0+
				    </label>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group2[]" value="4">4.0+
				    </label>
			    &nbsp
			    <h>Hours:</h>
				    <label class="checkbox-inline">
				      <input type="checkbox" name="group3[]" value="open">Currently Open
				    </label>
			  </form>
			</div>
	</form>

</main>

</body>


<script>
// JavaScript for showing filter criteria on click
var button = document.getElementById('filter-button');
button.onclick = function() {
    var div = document.getElementById('container-filter');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};

// JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();

// Short script for allowing only selection of 1 filter for rating filter
$('input[name="group2[]"]').on('change', function() {
    $('input[name="group2[]"]').not(this).prop('checked', false);
});
</script>

</html>
{% endblock %}
