html {
	height: 100%;
}
body {
  padding-top: 10rem;
  background-image: url("food_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index:0;
}

.project-name {
  padding: 3rem 1.5rem;
}

h1 {
	text-align: center;
	text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
}

h2 {
	width: 30%;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
	font-size: 130%;
	display:inline;
}


.container-form{
	padding-top:50px;
}

#container-filter{
	position: relative;
	top:6px;
	left:8px;
	display:inline;
}
