html {
	height: 100%;
}
body {
  padding-top: 10rem;
  background-image: url("food_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index:0;
}

.project-name {
  padding: 3rem 1.5rem;
}

h1 {
	text-align: center;
	text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
}

h2 {
	width: 30%;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
	font-size: 130%;
	display:inline;
}

h4 {
	font-size: 30px;
	position: absolute;
	margin-top: 200px;
	width: 500px;
    margin-left: -670px;
    display:inline-block;
}

p-desc {
	position: relative;
	margin-left: -665px;
	margin-top: 220px;
	display:inline-block;
}

p.desc1  {
	position: absolute;
    width: 210px;
    margin-right: 50px;
    margin-top: 0px;
    display:inline-block;
}

p.desc2  {
	position: absolute;
    width: 210px;
    margin-right: 50px;
    margin-top: 0px;
    display:inline-block;
    left:400px;
}

p.desc3  {
	position: absolute;
    width: 210px;
    margin-right: 50px;
    margin-top: 0px;
    display:inline-block;
    left:780px;
}

.container-form{
	padding-top:50px;
}

#container-filter{
	position: relative;
	top:6px;
	left:8px;
	display:inline;
}

#container-desc{
	position: absolute;
	display:block;
	left:58%;
}

#t1{
	position: relative;
	font-weight: bold;
	font-size: 20px;
	left:0px;
	width:300px;
}

#t2{
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	left:400px;
	width:300px;
	top:0px;
}

#t3{
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	left:780px;
	width:300px;
	top:0px;
}

div#loading {
	position: fixed; /* or absolute */
  	top: 30%;
 	left: 44%;
    width: 400px;
    height: 400px;
    background: url("Rolling.svg") no-repeat;
    cursor: wait;
    display:none;
}
