
.header{
	overflow: hidden;
}

body {
  padding-top: 1.5rem;
}

h2 {
	text-align:left;
  padding-bottom:10px;
}

h4 {
	margin-left: 333px; 
  padding-top:20px;
  padding-bottom:15px;
}


#container-filter{
	position: relative;
	top:6px;
	left:8px;
	display:inline;
}

#container-bttns .btn{
    width:210px;
}



