
.header{
	overflow: hidden;
}

body {
  padding-top: 1.5rem;
}

h2 {
	text-align:left;
  padding-bottom:10px;
}

h4 {
	margin-left: 333px; 
  padding-top:20px;
  padding-bottom:15px;
}


#container-filter{
	position: relative;
	top:6px;
	left:8px;
	display:inline;
}


div#loading {
	position: fixed; /* or absolute */
  	top: 30%;
 	left: 44%;
    width: 400px;
    height: 400px;
    background: url("Rolling.svg") no-repeat;
    cursor: wait;
    display:none;
}

